*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Montserrat', Roboto, 'Source Sans Pro', 'Helvetica Neue', Arial,
  sans-serif;
  font-size: 16px;
  background-color: #F3F4F9;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
    display: block;
    max-height: 100%;
}

.font-display {
  font-family: Roboto, sans-serif;
}